
// font url

$font-url: 'https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Roboto:wght@300;400;500;700&display=swap';

// font family
$font-family: (
    'ff': (
        'inter': "'Inter', sans-serif",
        'roboto': "'Roboto', sans-serif",
    )
);



// font size
$font-size: (
    'fz': (
        'body': 14px,
        'p': 14px,
    )
);


