@use '../utils/' as *;

.#{$theme-prefix}-help{
    padding: 40px 31px 30px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 1.6000000238px 3.5999999046px 0px rgba(8, 19, 53, 0.1), 0px 0.3000000119px 0.8999999762px 0px rgba(8, 19, 53, 0.12);
}